<% projects.each do |id, data| %>

<div class="portfolio-modal modal fade" id="portfolioModal_<%= id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2><%= data["title"] %></h2>
            <hr class="star-primary">
            <img src="<%= data["image"] %>" class="img-responsive img-centered" alt="">
            <p><%= data["text"] %></p>

            <% if data["resource"] != nil || data["date"] != nil || data["type"] != nil || data["extra_li"] != nil %>
            <ul class="list-inline item-details">

              <% if data["resource"] != nil %>
              <li><%= data["resource"]["name"] %>:
                <strong>
                  <a href="<%= data["resource"]["url"] %>"><%= data["resource"]["site"] %></a>
                </strong>
              </li>
              <% end %>

              <% if data["date"] != nil %>
              <li><%= t 'projects_modals.release_date' %>:
                <strong><%=data["date"] %></strong>
              </li>
              <% end %>

              <% if data["type"] != nil %>
              <li><%= t 'projects_modals.type' %>:
                <strong><%=data["type"] %></strong>
              </li>
              <% end %>

              <% if data["extra_li" ] != nil %>
              <li><%=data["extra_li"] %></li>
              <% end %>

            </ul>
            <% end %>

            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> <%= t 'projects_modals.close' %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
