<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <!--<a href="https://github.com"><img style="position: absolute; top: 100px; left: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/left-turquoise@2x.png" alt="Fork me on GitHub"></a>-->

      <div class="col-lg-12">
        <img class="img-responsive" src="/img/profile.png" alt="profile image">
        <div class="intro-text">
          <span class="name"><%= t 'home.landing.title' %></span>
          <hr class="star-light c1">
          <span class="skills"><%= t 'home.landing.subtitle' %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio" name="<%= t 'home.projects.title' %>">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><%= t 'home.projects.title' %></h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <% projects_data.first(5).each do |id, data| %>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal_<%= id %>" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= data["image"] %>" class="img-responsive" alt="">
        </a>
      </div>

      <% end %>

      <div class="col-sm-4 portfolio-item">
        <a href="<%= link '/projects' %>" class="portfolio-link">
          <div class="caption caption-alt">
            <div class="caption-content">
              <i class="fa fa-ellipsis-h fa-3x"></i>
            </div>
          </div>
          <img src="/img/projects/alt/more.png" class="img-responsive" alt="Show more">
        </a>
      </div>

      <!--<div class="col-sm-4 portfolio-item">
        <a href="<%= link '/projects' %>" class="portfolio-link">
          <div class="caption">
            <div class="caption-alt">
              <i class="fa fa-ellipsis-h fa-3x"></i>
            </div>
          </div>
          <img src="/img/projects/alt/more.png" class="img-responsive" alt="Explorar proyectos">
        </a>
      </div-->

    </div>
  </div>
</section>

<!-- About Section -->
<section class="success" id="about" name="<%= t 'home.summary.title' %>">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><%= t 'home.summary.title' %></h2>
        <hr class="star-light c2">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p><%= t 'home.summary.column1' %></p>
      </div>
      <div class="col-lg-4">
        <p><%= t 'home.summary.column2' %></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a id="curriculum_link" href="/files/cv_<%= I18n.locale %>.pdf" target="_bank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i>
          <%= t 'home.summary.download' %>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Modal de contacto -->
<div class="modal fade bs-example-modal-lg" id="loading_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <!--<span class="glyphicon glyphicon-time"></span>--><%= t 'home.contact.sending_message' %></h4>
      </div>
      <div class="modal-body">
        <div class="progress" style="height: 20px !important;">
          <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<section id="contact" name="<%= t 'home.contact.title' %>">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><%= t 'home.contact.title' %></h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label><%= t 'home.contact.name.label' %></label>
              <input type="text" class="form-control" placeholder="<%= t 'home.contact.name.placeholder' %>" id="name" required data-validation-required-message="<%= t 'home.contact.name.validation' %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label><%= t 'home.contact.email.label' %></label>
              <input type="email" class="form-control" placeholder="<%= t 'home.contact.email.placeholder' %>" id="email" required data-validation-required-message="<%= t 'home.contact.email.validation' %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label><%= t 'home.contact.phone.placeholder' %></label>
              <input type="tel" class="form-control" placeholder="<%= t 'home.contact.phone.placeholder' %>" id="phone">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label><%= t 'home.contact.message.label' %></label>
              <textarea rows="3" class="form-control" placeholder="<%= t 'home.contact.message.placeholder' %>" id="message" required data-validation-required-message="<%= t 'home.contact.message.validation' %>"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-success btn-lg"><%= t 'home.contact.send' %></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(function () {
    $("input,textarea").jqBootstrapValidation({
      preventSubmit: true,
      submitError: function ($form, event, errors) {
        // additional error messages or events
      },
      submitSuccess: function ($form, event) {
        // Prevent spam click and default submit behaviour
        $("#btnSubmit").attr("disabled", true);
        event.preventDefault();

        // get values from FORM
        var name = $("input#name").val();
        var email = $("input#email").val();
        var phone = $("input#phone").val();
        var message = $("textarea#message").val();
        var firstName = name; // For Success/Failure Message
        // Check for white space in name for Success/Fail message
        if (firstName.indexOf(' ') >= 0) {
          firstName = name.split(' ').slice(0, -1).join(' ');
        }

        $('#loading_modal').modal('show');

        $.ajax({
          url: "/mail",
          type: "POST",
          data: {
            name: name,
            phone: phone,
            email: email,
            message: message
          },
          cache: false,
          success: function () {
            $('#loading_modal').modal('hide');

            // Enable button & show success message
            $("#btnSubmit").attr("disabled", false);
            $('#success').html("<div class='alert alert-success'>");
            $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
            $('#success > .alert-success').append("<strong><%= t 'home.contact.success' %></strong>");
            $('#success > .alert-success').append('</div>');

            //clear all fields $('#contactForm').trigger("reset");
          },
          error: function () {
            $('#loading_modal').modal('hide');

            // Fail message
            $('#success').html("<div class='alert alert-danger'>");
            $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
            $('#success > .alert-danger').append("<strong><%= t 'home.contact.failure' %></strong>");
            $('#success > .alert-danger').append('</div>');
            //clear all fields $('#contactForm').trigger("reset");
          }
        })
      },
      filter: function () {
        return $(this).is(":visible");
      }
    });

    $("a[data-toggle=tab]").click(function (e) {
      e.preventDefault();
      $(this).tab("show");
    });
  });

  // When clicking on Full hide fail/success boxes
  $('#name').focus(function () {
    $('#success').html('');
  });
</script>

<!-- Portfolio Modals -->
<%= erb :_projects_modals, locals: { projects: projects_data.first(5) }  %>
