<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio online de Daniel Herzog Cruz">
    <meta name="author" content="Daniel Herzog Cruz">
    <meta NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
    <meta content="#2C3E50" name="theme-color"/>

    <title><%= t 'layout.title' %></title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/img/favicon.png"/>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Other CSS -->
    <link href="/css/freelancer.css" rel="stylesheet">
    <link href="/css/flag-icon.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

  </head>

  <body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="header_nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#page-top"><%= t 'layout.nav.title' %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" id="header_nav_list">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a href="http://blog.danielherzog.es"><%= t 'layout.nav.blog' %></a>
            </li>

            <script>
              $(document).ready(function () {
                $("section").each(function (i, elem) {
                  $("#header_nav_list").find('li:last-child').before("<li class='page-scroll'><a href='#" + $(elem).attr("id") + "'>" + $(elem).attr("name") + "</a></li>");
                });
              });
            </script>

            <li>
              <div id="flags-bar">
                <% [[:es, :es], [:en, :us]].each do |locale, flag| %>
                <a href="<%= link request.path_info, locale %>">
                  <span class="flag-icon flag-icon-<%= flag %>"></span>
                </a>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3><%= t 'layout.footer.location.label' %></h3>
              <p><%= t 'layout.footer.location.address1' %><br><%= t 'layout.footer.location.address2' %></p>
            </div>
            <div class="footer-col col-md-4">
              <h3><%= t 'layout.footer.social.label' %></h3>
              <ul class="list-inline">
                <li>
                  <a href="https://www.facebook.com/Daniisoft" class="btn-social-override btn-outline">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/Daniisoft" class="btn-social-override btn-outline">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://es.linkedin.com/in/danielherzogcruz" class="btn-social-override btn-outline">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="http://github.com/wikiti" class="btn-social-override btn-outline">
                    <i class="fa fa-fw fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="http://gitlab.com/u/wikiti" class="btn-social-override btn-outline">
                    <i class="fa fa-fw fa-git"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3><%= t 'layout.footer.contact.label' %></h3>
              <p>
                <strong><%= t 'layout.footer.contact.phone.label' %>:
                </strong><%= t 'layout.footer.contact.phone.value' %></p>
              <p>
                <strong><%= t 'layout.footer.contact.email.label' %>:
                </strong><%= t 'layout.footer.contact.email.value' %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12"><%= t 'layout.footer.copyright.notice' %></div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
      <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <!-- <script src="/js/contact_me.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>

  </body>

</html>
