<!-- Portfolio Grid Section -->
<section id="portfolio" name="<%= t 'layout.nav.projects' %>" style="padding-top: 200px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><%= t 'projects.title' %></h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="<%= link '/home' %>" class="portfolio-link">
          <div class="caption caption-alt">
            <div class="caption-content">
              <i class="fa fa-arrow-left fa-3x"></i>
            </div>
          </div>
          <img src="/img/projects/alt/backbutton.png" class="img-responsive" alt="Go back">
        </a>
      </div>

      <% projects_data.each do |id, data| %>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal_<%= id %>" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="<%= data["image"] %>" class="img-responsive" alt="">
        </a>
      </div>

      <% end %>

    </div>
  </div>
</section>

<!-- Portfolio Modals -->
<%= erb :_projects_modals, locals: { projects: projects_data }  %>
